:root{
    --primaryDark: #117865;
    --primaryLight: #117865;
    --bgDark: #112437;
    --bgWhite: #ffffff;
    --onBlack: #2d3f50;
    --onWhite: #f6f5f8;
    --primaryLighter: #edf4f4;
    --primaryLight2: #abdbd3;
    --primaryLighter75: #edf4f4bb;
    --primaryDarker: #106858;   
    --primary2: #167b69;
    --black: #0a1d30;
    --background: #f9f9f9;
}